*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    color: #fff;
}
 @font-face {
   font-family: 'Bien';
    src: url(Far-From\ Homecoming\ Updated.otf);
}
/* En tete */
.PARTIE1{
    background-color: #114C92;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    
}
.Partie1a a{
    padding-right: 100px; 
    color: #fff;
    width: 900px;
    font-size: 20px;

}
.logo img{
    margin: 15px;
 }
 /* LESSON 1*/
 .LESSON1{
     background-image: url(img19.png);
     background-size:cover ;
     background-position: center;
     min-height: 400px;
     height: auto;
 }
 .LESSON1 h1{
     padding-top: 50px;
     padding-left: 300px;
     font-family: 'Bien';
     font-size: 100px;
 }
 .LESSON1 h3{
     padding-left: 300px;
 }
 /* LESSON 2 */
 .LESSON2{
     display: flex;
     justify-content: space-around;
     background-color: #114C92;
     padding: 20px;
 }
 .LESSON2 h2{
     font-family:  'Bien';
     
 }
 .LESSON2 h4{
     padding: 0px 0px 30px 0px;
 }
 .LESSON2 p{
     text-align: justify;
     width: 400px;
 }
 /* LESSON 3 */
 .LESSON3{
     background-image: url(img20.png);
     background-size: cover;
     background-position: center;
     min-height: 400px;
     color: #fff;
 }
 .LESSON3 h2{
     font-family:'Bien' ;
     padding: 50px 0px 0px 200px;
     font-size: 50px;
 }
 .LESSON3 h5{
     padding-left: 200px;
 }
 /*  LESSON4 */
 .LESSON4{
     display: flex;
     justify-content: space-around;
     background-color: #114C92;
     padding: 50px;
 }
 /* LESSON5 */
 .LESSON5{
     display: flex;
     justify-content: space-around;
     background-color: #114C92;
     color: #fff;
 }
 .LESSON5 h2{
     font-family: 'Bien';
     font-size: 30px;
     text-transform :uppercase ;
 }
 /* LESSON 6 */
 .LESSON6{
     background-color: #114C92;
     display: flex;
     justify-content: space-around;
     padding: 50px;
     height: 500px;
     padding-top: 100px;
 }
 .LESSON6 h1 {
    font-family: 'Bien';
    font-size: 30px;
    text-transform :uppercase ;
 }
 .photoo1 {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     width: 500px;

     }
/* LESSON7 */
.LESSON7{
    display: flex;
    background-color: #B11313;
    justify-content: space-between;
}
.LESSON7A{
    padding: 20px 30px 80px 250px;
}
.lesson7Aa
{
    display: flex;
}
.lesson7ab img
{
    display: flex;
    flex-direction: column;
    margin: 0px 50px 60px 0px;
}
.lesson7bb img{
    margin:25px 50px 0px 0px ;

}
.LESSON7B img{
    height: 100%;
}

/* LESSON8 */
.LESSON8{
    background-image: url(img33.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}
.lesson8a
{
    background-color: #114C92;
    opacity: 90%;
    width: 500px;
    height: 500px;
    padding: 50px;
    margin-left: 850px;
}
/* Footer  */

.PARTIE3{
    display: flex;
    justify-content: space-around;
    background-color:#000 ;
    font-size: 20px;
    padding: 50px;
    text-align: center;
}
.PARTIE3 a{
    color: #FFF;
}
.PARTIE3 select{
    width: 200px;
    height: 25px;
    border-radius: 50px ;
    background-color: #114C92;
    color: #FFF;

}
.logo1 img{
    padding: 0px;
    text-align: cente;
}
.photo2{
margin-bottom: 2px;
}
.photo1{
    height: 25px;
}
.photo2{
    height: 50px;
}

.PARTIE4{
    background-color: #000;
    padding: 50px 50px 10px 50px;
    display: flex;
    justify-content: center;
}
.img1{
    border-radius: 50px;
    background-color: #114C92;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 10px;
    display: flex;
}
.img2{
    border-radius: 50px;
    background-color: #114C92;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 10px;
    display: flex;

    }
    
.img3{
    border-radius: 50px;
    background-color: #114C92;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 10px;
    display: flex;
   
}
.img4{
    border-radius: 50px;
    background-color: #114C92;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 10px;
    display: flex;
   

   }
   /* PARTIE5 */
footer {
    color: #FFF;
    background-color: #000;
    padding: 10px 50px 50px 50px;
    text-align: center;
}
@media ( max-width:800px){
    .PARTIE1{
        background: transparent;
        position: absolute;
    }
    .logo{
        display: flex;   
    } 
    
     
    .Partie1a{
        display: none;
    }
    .PARTIE3{
        display: flex;
        flex-direction: column;
    }
    .PARTIE3 form {
        position: absolute;
        margin-left: 250px;
        margin-top: -180px;
        

        }
    .PARTIE3 a{
        margin-right: 350px;
          text-align: start;
          position: relative;
          margin-bottom: 10px;
          width: 200px;
        
    }  
}
