@font-face{
    font-family: 'bina';
    src: url(Far-From\ Homecoming\ Updated.otf);
}
*{
    margin: 0%;
    padding: 0%;
    
    text-decoration: none;
}
/* En tete */
.PARTIE1{
    background-color: #B11313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
    
}
.Partie1a a{
    padding-right: 100px; 
    color: #fff;
    width: 900px;
    font-size: 20px;

}
.logo img{
    margin: 15px;
}
h2
{
    font-family: 'bina';
}
/* chapitre1 */
.Chapitre1{
    background-image: url(img1.png);
    color: #fff;
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 600px;
    padding-left: 20%;
    padding-top: 20%;
 
}
.Chapitre1 h2{
    font-size: 80px;
    padding: 40px 0px 40px;
  
}
.Chapitre1 button{
    border-radius: 15px;
    height: 45px;
    width: 150px;
    margin: 0px 10px 0px;
    

}
.Chapitre1 h3{
    font-size: 30px;
    padding: 20px ;
}
/* Chapitre 2 */
.Chapitre2{
    background-color: #B11313;
    padding: 10px 150px 50px 150px;
    color: #FFF;
}
.Chapitre2 h2{
    font-size: 50px;
    padding: 0px 0px 0px 48px;
}
.Chapitre2 h5{
    font-size: 15px;
    padding: 10px 0px 10px 48px;
}
.Chapitre2A{
    display: flex;
    justify-content: space-around;

}
.Chapitre2 p{
    padding: 20px 20px ;
}
.Chapitre2A button{
    border-radius: 15px;
    padding: 20px 40px;
    margin: 20px 0px 10px 45px;
    
}
.Chapitre2 a{
    color: #B11313;
}
/*  Chapitr3 */
.Chapitre3{
    background-color:#114C92 ;
    display: flex;
    justify-content: space-between;
}
.Chapitre3A form{
    margin-top: 150px;
    color: #fff;
    
}
.Chapitre3A form h2{
    padding-left: 20%;
    
}
.Chapitre3A form h4{
    padding: 10px 0px;
}


.Chapitre3A input{
    width: 300px;
    padding: 5px 20px;
    margin: 1%;
    border-radius: 25px;
    margin-right: 400px;
    margin-left: 10%;


}
.Chapitre3 button{
    padding: 15px 20px;
     width:150px;
     border-radius: 50px;
     background: none;
     color: #fff;
     margin-left: 180px;
     margin-top: 25px;
}
/* Chapitre4 */
.Chapitre4{
    display: flex;
    justify-content: space-between;
    background-color: #B11313;
    height: 500px;
}
.Chapitre4 form {
    padding: 30% 0%;
    margin-left: 200px;
    color: #FFF;
  
}
.Chapitre4A input{
    margin: 10px;
    padding: 10px 20px;
    width: 300px;
    border-radius: 50px;
    background: none;


}
.PARTIE3{
    display: flex;
    justify-content: space-around;
    background-color:#000 ;
    font-size: 20px;
    padding: 50px;
    text-align: center;
}
.PARTIE3 a{
    color: #FFF;
}
.PARTIE3 select{
    width: 200px;
    height: 25px;
    border-radius: 50px ;
    background-color: #B11313;
    color: #FFF;

}
.logo1 img{
    padding: 0px;
    text-align: cente;
}
.photo2{
margin-bottom: 2px;
}
.photo1{
    height: 25px;
}
.photo2{
    height: 50px;
}

.PARTIE4{
    background-color: #000;
    padding: 50px 50px 10px 50px;
    display: flex;
    justify-content: center;
}
.img1{
    border-radius: 50px;
    background-color: #B11313;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 10px;
    display: flex;
}
.img2{
    border-radius: 50px;
    background-color: #B11313;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 10px;
    display: flex;

    }
    
.img3{
    border-radius: 50px;
    background-color: #B11313;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 10px;
    display: flex;
   
}
.img4{
    border-radius: 50px;
    background-color: #B11313;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 10px;
    display: flex;
   

   }
   /* PARTIE5 */
footer {
    color: #FFF;
    background-color: #000;
    padding: 10px 50px 50px 50px;
    text-align: center;
}
@media ( max-width:800px){
    .logo{
        display: flex;

        }
    } .PARTIE1{
        background: transparent;
        position: absolute;
    }
        .Partie1a{
            display: none;
        }
    .Chapitre1{
        display: flex;
    }
    .Chapitre2A p{
        width: 500px;
        
    }
    .Chapitre2 h5{
        width: 500px;
    }
    
    
    .Chapitre2A{
        
        flex-direction: column;
    }
    
    
    .Chapitre3 img{
        position: relative;
    }
    .Chapitre4{
        display: flex;
    }

    .PARTIE3{
        display: flex;
        flex-direction: column;
    }
    .PARTIE3 form {
        position: absolute;
        margin-left: 250px;
        margin-top: -180px;
        

        }
    .PARTIE3 a{
        margin-right: 350px;
          text-align: start;
          position: relative;
          margin-bottom: 10px;
          width: 200px;
        
    } 
    .FOOTER{
        position: relative;
    }
    .logo1{
        position: absolute;
        top: 280px;
        margin-left: 150px

        } 
    
